.topconatainer{
  background-color: #90C8AC;
  padding-top: 50px;
  position: relative;

}
.middle-container{
  margin: 100px 0;


}
.bottom-container{
padding: 50px 0 20px;

background-color: #54BAB9;


}
body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;

}
h1{
  margin: 50 auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color:#CA4E79;


}
h2{
  font-size: 2.5rem;
  color: #CA4E79;
  font-weight: normal;
  padding-bottom: 10px;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color:#8E3200;
}
a{
  color: #8E3200;
  text-decoration: none;
  margin: 10px 20px;
  font-family: 'Merriweather', serif;

}
a:hover{
  color: white;
}
p{
    line-height: 2;
}
hr{
  border: dotted #7D9D9C 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}


.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}
.bottom{
  position: absolute;
  bottom: 300px;
  left: 300px;
}
.top{
  position: absolute;
  right: 300px;
  top: 10px;

}
.aryan{
  width: 200px;
}
.skill-row{
  margin: 100px auto 100px auto;
  width: 50%;
  text-align: left;


}
.computer{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.chillies{
  width: 25%;
  float: right;
  margin-left: 30px;
}
.intro{
  width: 30%;
  margin: auto;
}
.copyright{
  font-size: 0.75rem;
  color:white;
  padding: 20px auto 10px;
}
.btn {
  background: #11EDD4;
  background-image: -webkit-linear-gradient(top, #11EDD4, #11999e);
  background-image: -moz-linear-gradient(top, #11EDD4, #11999e);
  background-image: -ms-linear-gradient(top, #11EDD4, #11999e);
  background-image: -o-linear-gradient(top, #11EDD4, #11999e);
  background-image: linear-gradient(to bottom, #11EDD4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Merriweather', serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
